<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="github" value="https://nuget.pkg.github.com/EagleViewEnt/index.json" /> -->
  </packageSources>
   <!-- Map packages to exactly one source (default '*' to nuget.org) -->
<!--   <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <!-- Map your internal packages that live in GitHub Packages -->
      <package pattern="EagleViewEnt.*" />
      <package pattern="MyGovBill.*" />
      <package pattern="GoFishAnglers.*" />
      <!-- add more exact IDs/prefixes as needed -->
    </packageSource>
  </packageSourceMapping> -->
</configuration>
